*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: roboto-bold;
    src: url(../fuentes/Roboto/Roboto-Bold.ttf)
}
@font-face{
    font-family: roboto-regular;
    src: url(../fuentes/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: robotocondensed;
    src: url(../fuentes/Roboto/RobotoCondensed-Bold.ttf);
}
.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: #a9d6f5; 
    padding: 5px 20px;
}
.top-bar a {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}

.top-left a {
    font-size: 14px;
}

.top-right a {
    font-size: 14px;
}

.top-right img {
    height: 30px; 
    width: auto;
    margin-left: 10px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #92c9f0;
    padding: 10px 20px;
}

.logo img {
    height: 110px;
    width: auto;
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #042240;
    font-size: 17px;
    font-weight: bold;
}

body{
    font-family: roboto-regular;
    font-size: 20px;
}

.bienvenida{
    color: #042240;
    background-color: #ba9f6c;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

}
main{
    font-family: roboto-regular;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;;
    flex-direction: column;
    margin: 0;
}
.noticia{
    position: relative;
    width: 100%; 
    margin-top: 20px;
}
.news-image {
    align-items: center;
    width: 70%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 10px;
    text-align: left;
}

.overlay h2 {
    display: inline-block;
    padding: 2px 2px;
    border-radius: 5px;
    margin: 0;
    font-size: 20px;
    background-color: #92c9f0;
    color: #042240;
}
.overlay p{
    display: block;
    padding: 2px 2px;
    border-radius: 5px;
    margin: 0;
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.noticia-velez{
    text-align: center;
    margin-top: 3%;
}
.noticia-velez img{
    width: 80%;
    height: auto;
    align-items: center;
}

footer {
    background-color: #0d1b38;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
}

.footer-flag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.footer-flag img {
    width: 100px;
    margin-bottom: 10px;
}

.footer-flag .stars {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-flag .stars span {
    font-size: 30px;
    color: #ba9f6c;
}
.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.footer-column p {
    margin: 5px 0;
    color: #bbb;
}

.footer-links {
    margin-top: 20px;
}

.footer-links nav ul li {
    display: inline;
    margin-right: 10px;
    color: #ba9f6c;
    text-decoration: none;
    font-weight: bold;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer-bottom .social-icons {
    margin-bottom: 20px;
}

.footer-bottom .social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.footer-bottom .social-icons img {
    width: 30px;
    height: 30px;
}

.footer-bottom p {
    font-size: 14px;
    color: #bbb;
}